body {
    background-color: black;
    background-image: url(Assets/BG.jpg);
}
.Text {
    color: #01d500;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.ascii-art {
    color: #01d500;
    font-family: monospace;
    white-space: pre;
    width: fit-content;
    margin: auto;
}
.Button{
    cursor: pointer;
    color: #01d500;
    background-color: #04290485;
    font-style: normal;
    font-size: x-large;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #01d500;
    border-radius: 12px;
    padding: 10px 24px;
    transition-duration: 0.4s;
    width: fit-content;
    font-weight: 550;
    margin-top: 4px;
}
.Button:hover{
    background-color: #074107a6;
    color: #22fa22;
}
.Github {
    color: #01d500;
    font-style: oblique;
    font-size: large;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.Credits {
    color: #01d500;
    font-style: oblique;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}